@use 'tailwindcss';
@use 'typography';

@variant dark (&:is([data-theme="dark"] *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-manrope: 'Manrope', Arial, Helvetica, sans-serif;
  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);
}

:root {
  --background: #18181b;
  --foreground: #171717;
  --color-primary: rgb(255 70 84);
  --color-primary-dark: rgb(184 0 14);
  --color-primary-light: rgb(255, 178, 185);

  --color-base-pr: #18181b;
  --color-base2-pr: #18181b;
  --color-base-2nd: #27272a;
  --color-base-3rd: #3f3f46;
  --color-font-pr: #fff;
  --color-font-2nd: #e2e8f0;
  --color-font-3rd: #94a3b8;
  --color-highlight: #a78bfa;
}

[data-theme='dark'] {
  --background: #0f0f0f;
  --foreground: #ededed;
  --color-primary: rgb(255 70 84);
  --color-primary-dark: rgb(211, 49, 63);
  --color-primary-light: rgb(255, 178, 185);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope);
  font-size: 1.25rem;

  background-color: #06030a;
}

.bg-grid {
  --grid-border-color: #929292;
  --grid-cell-size: 1px;
  /* https://ibelick.com/blog/create-grid-and-dot-backgrounds-with-css-tailwind-css */
  /* background-image: radial-gradient(var(--grid-border-color) 1px, transparent 1px); */
  background-size: 36px 36px;
}

.triangle {
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.my-image-container {
  position: relative;
  padding: 5px;
  clip-path: circle();
  overflow: clip;
  scale: 1;
  transition: padding 0.3s ease-in-out;

  &:hover {
    padding: 15px;
  }

  @mixin rotating-gradient($animation-name, $initial-rotation, $final-rotation) {
    content: '';
    display: block;
    background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-primary-dark) 50%, transparent 100%);
    height: 300px;
    width: 300px;
    position: absolute;
    animation: #{$animation-name} 5s linear forwards infinite;
    z-index: -1;
    top: 50%;
    transform-origin: top center;

    @keyframes #{$animation-name} {
      from {
        transform: rotate($initial-rotation);
      }

      to {
        transform: rotate($final-rotation);
      }
    }
  }

  &::before {
    @include rotating-gradient(rotate, -0.5turn, 0.5turn);
  }

  &::after {
    @include rotating-gradient(rotate1, -1turn, 0);
  }
}

.threeD-span {
  span {
    transform: translate(0, 0);
    transition: transform 0.3s ease-in-out;
  }

  &:hover {
    span {
      transform: translate(-0.3rem, -0.3rem);
    }
  }
}

.button {
  border: 1px solid var(--color-primary);
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 9999px;
  background-color: white;
  padding: 0.25rem 1rem;
}

.loading-text {
  place-self: center;
  background: linear-gradient(90deg, var(--color-primary), var(--color-primary-light), var(--color-primary)) -100%/200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: shimmer 1s linear infinite;
}

@keyframes shimmer {
  to {
    background-position: 100%;
  }
}

.wave-container {
  &:hover {
    .wave {
      transform-origin: 70% 70%;
      animation: wave-animation 2s infinite;
    }
  }

  .wave {
    display: inline-block;
  }

  @keyframes wave-animation {
    0% {
      rotate: (0deg);
    }

    10% {
      rotate: (14deg);
    }

    20% {
      rotate: (-8deg);
    }

    30% {
      rotate: (14deg);
    }

    40% {
      rotate: (-4deg);
    }

    50% {
      rotate: (10deg);
    }

    60% {
      rotate: (0deg);
    }
  }
}

header {
  a {
    color: black;

    [data-theme='dark'] & {
      color: white;
    }

    &:hover {
      color: var(--color-primary);
    }

    transition: color 0.3s ease-in-out;
  }
}

.ripple {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 50vw;
  background: #5e5d5d1a;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: ripple 20s infinite ease-in-out ;
  z-index: -1;
}

@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(4);
    opacity: 0;
  }
}

.ripple:nth-child(1) {
  transform: translate(-50%, -50%) scale(0.5);
  animation: unset;
}
.ripple:nth-child(2) {
  animation-delay: 2s;
}
.ripple:nth-child(3) {
  animation-delay: 4s;
}

.moveUpAni {
  opacity: 0;
  transform: translateY(100%);
  animation: 0.9s ease-in-out 0s 1 normal forwards running moveUp;
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.dark .bg-grid-glow {
  background: radial-gradient(
    circle,
    color-mix(in srgb, var(--color-highlight) 35%, transparent) 70%,
    var(--color-highlight) 100%
  );
  opacity: 0.35;
}

.bg-grid-glow {
  background: radial-gradient(
    circle,
    color-mix(in srgb, var(--color-highlight) 32%, transparent) 70%,
    var(--color-highlight) 100%
  );
  background-position-y: -200px;
  background-size: 100% 100%;
  height: 100%;
  left: 0;
  -webkit-mask-image: linear-gradient(90deg, #fff 1px, transparent 0), linear-gradient(180deg, #fff 1px, transparent 0);
  mask-image: linear-gradient(90deg, #fff 1px, transparent 0), linear-gradient(180deg, #fff 1px, transparent 0);
  -webkit-mask-position: calc(mod(100vw, 3rem) / 2) 0;
  mask-position: calc(mod(100vw, 3rem) / 2) 0;
  -webkit-mask-repeat: repeat;
  mask-repeat: repeat;
  -webkit-mask-size: 3rem 3rem;
  mask-size: 3rem 3rem;
  opacity: 0.59;
  top: 0;
  width: 100%;
}

@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.aspire {
  --gradient-angle: 0deg;
  background:
    radial-gradient(27.91% 37.23% at 6.91% 7.68%, rgba(200, 119, 185, 0.5) 0, rgba(198, 118, 185, 0) 100%),
    radial-gradient(53.04% 64.16% at 53.96% 7.14%, rgba(16, 154, 229, 0.7) 0, rgba(125, 124, 196, 0) 93.21%),
    radial-gradient(
      69.88% 69.88% at 10.64% 86.96%,
      #fe014c 0,
      rgba(223, 51, 129, 0.8) 47.68%,
      rgba(187, 84, 133, 0.229058) 81.13%,
      rgba(124, 128, 200, 0) 100%
    ),
    linear-gradient(var(--gradient-angle), #c877b9 0, #c877b9 31.9%, rgba(200, 119, 185, 0) 83.73%),
    linear-gradient(calc(var(--gradient-angle) + 90deg), #0aadee 14.98%, #fea5aa 76.19%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  animation: aspire-rotate 5s linear infinite;
}

@keyframes aspire-rotate {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.data-science {
  background-image: url(../assets/data-science.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 35%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  text-stroke: 1px rgba(255, 255, 255, 0.3);
}
