@font-face {
    font-family: 'Manrope';
    src: url('../assets/fonts/Manrope-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 200 800;
    font-style: normal;
    font-display: swap;
}

.h1 {
    font-size: 3rem;

    font-weight: bold;
    line-height: 1;
    font-family: var(--font-manrope);
    color: var(--foreground);

    @media (min-width: 1024px) {
        font-size: 6rem;
    }
}

.h2 {
    font-size: 1.75rem;
    font-family: var(--font-manrope);
    color: var(--foreground);
}

.h2.red {
    color: var(--color-primary-dark);
    font-weight: bold;
    text-transform: uppercase;
}

.h3 {
    font-size: 1.5rem;
    font-family: var(--font-manrope);
    color: var(--foreground);
}